<!DOCTYPE html>

<head>
    <title>Room: <%=roomId%>
    </title>
    <script>

        let chat_message = (userId, message) => {
            document.getElementById('chat').innerHTML += '<span class="chatmessage">' + new Date().toTimeString().slice(0, 8) + ` <span class="chatuser" style='color:blue;'>${userId}: </span>${message}` + "</span><br>";
        };

        document.addEventListener('DOMContentLoaded', () => {
            setInterval(() => {
                document.getElementById('clock').innerHTML = new Date().toTimeString().slice(0, 8)
            }, 1000);



            chat_message('Admin', 'This is chat! Welcome :)')
        });
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #player {
            min-width: 900px;
            min-height: 450px;
            background-color: green;
        }

        .leftside {
            float: left;
            margin-top: 3%;
        }

        .rightside {
            float: right;
        }

        #submit {
            min-width: 150px;
        }

        .cont {
            display: flex;
            justify-content: space-around;
            flex: 1;
        }

        #chat {
            min-width: 400px;
            max-width: 400px;
            min-height: 470px;
            max-height: 470px;
            resize: none;
            word-break: break-word;
            overflow: scroll;
            overflow-x: hidden !important;
            ;
        }

        table {
            width: 10% !important;
        }

        #rightpart {
            margin-top: 0.75rem;

        }

        #leftpart {
            max-height: 550px;
            overflow: auto;
        }

        #middlepart {
            margin-top: 0.75rem;
        }

        nav {
            display: block;
        }

        #brandname,
        #quote,
        #clock {
            vertical-align: sub;
            font-size: 1, 25rem;
            font-weight: bold;
            margin-top: 10px;
        }

        #chat>*::selection,
        .chatuser::selection {
            background-color: rgb(255, 246, 151);
            text-shadow: 1px 1px 4px #113706;
        }

        *::selection {
            background-color: rgb(255, 246, 151);
            text-shadow: 1px 1px 4px #113706;
        }

        .noselect {
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Old versions of Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
        }

        table {
            min-width: 350px;
            max-width: 350px;
            table-layout: fixed !important;
        }

        th,
        td {
            white-space: nowrap !important;
            overflow: auto !important;
        }

        #leftpart>*::-webkit-scrollbar,
        tr::-webkit-scrollbar,
        td::-webkit-scrollbar,
        th::-webkit-scrollbar {
            display: none;
        }

        #playlist>tbody>tr>td:nth-child(1) {
            max-width: 11%;
        }

        #peoplelist {

            position: absolute;
            /*overflow: auto;*/
            max-width: 200px;
            min-width: 200px;
            /*min-height: 386px;
            max-height: 386px;*/
            opacity: 1;
            margin: 0px;
            background-color: yellow;
            border-radius: 75px;
            padding: 70px;
            margin-left: 4.63%;
            transition: opacity 1.5s, background-color 1.5s, margin 2s, height 2s, border-radius 1.5s, z-index 2s linear;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        ::-webkit-scrollbar {
            width: 10px;
            border-radius: 50px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 50px;

        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
            scale: 1.2em;
        }
    </style>
</head>
<html>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="cont" style="min-width: 100%;justify-content: space-between;">
            <a class="navbar-brand" href="https://github.com/reuzun/watchOnline-Nodejs" target="_blank">
                <img src="/output-onlinepngtools.png" width="40" height="40" class="d-inline-block align-top"
                    alt="Logo">
                <span id="brandname">
                    WatchOnline/<%=roomId%>
                </span>
            </a>
            <span id="quote" style="color:white;font-size: 20px;padding-right: 7%;">
                “e^(iπ)+1 = 0”
                ― Leonhard Euler
            </span>
            <span id="clock" class="noselect" style="color:white;font-size: 20px;">00.00.00</span>
        </div>

    </nav>

    <div class="cont">
        <!-- Left part -- Playlist Section -- -->
        <div id="leftpart">
            <fieldset>
                <legend>Playlist</legend>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 11%;">#</th>
                            <th style="width: 89%;">Video</th>
                            <!--<th scope="col"><button>Hide</button></th>-->
                        </tr>
                    </thead>
                    <tbody id="playlist">
                    </tbody>
                </table>
            </fieldset>
        </div>
        <!-- Middle part -- Player Section -- -->
        <div id="middlepart">
            <div class="cont rightside" style="flex-direction: column;">
                <div class="input-group mb-3">
                    <input id="link" type="text" class="form-control" placeholder="Video Link" aria-label="Video Link"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="submit" class="btn btn-dark" type="button">Play Video</button>
                        <button id="submitqueue" class="btn btn-light btn-outline-dark" type="button">Queue
                            Video</button>
                    </div>
                </div>

                <div id="videoContainer">
                    <div id="player"></div>
                </div>
            </div>
        </div>
        <!-- Right part -- Chat Section -- -->
        <div id="rightpart">
            <div class="cont" style="flex-direction: column;">
                <div id="chat" readonly class="form-control"></div>
                <div id="peoplelist" style="position: absolute;opacity: 0;margin-top:-400px;float:right;z-index: -1;color:bisque">
                </div>

                <div class="input-group mb-3">
                    <input id="message" type="text" class="form-control" placeholder="Message!" aria-label="Message!"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="chatsubmit" class="btn btn-dark" type="button">Send</button>
                        <button id="people" class="btn btn-dark" style="float:right;"><i
                                class="fa fa-users" aria-hidden="true"></i></button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div id="footer">
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-linkedin-in"></i></a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1"
                        href="https://www.github.com/reuzun/watchOnline-Nodejs" target="_blank" role="button"><i
                            class="fab fa-github"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
                <span class="text-white" href="#">Rüştü Efe Uzun</span>
            </div>
            <!-- Copyright -->
        </footer>
    </div>


    <!-- Client-Server communication script -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="module">

        /*import Video from '/./model/video.js';
        console.log(new Video())*/

        function scrollToBottom(id) {
            var div = document.getElementById(id);
            div.scrollTop = div.scrollHeight - div.clientHeight;
        }


        var myRoomId = '<%=roomId%>';
        const socket = io.connect(`${'<%=URL%>'}/room/${myRoomId}`, { auth: { roomId: myRoomId } }); // Our server.js portnumber
        let currentVideoId = "<%=videoId%>"
        //let userId = (100000 + (Math.random() * 999999)) | 0;
        socket.emit('myId');
        let userId = "------";
        socket.on('Id', (id) => {
            if (userId == "------")
                userId = id;
        });

        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var bool_flag_1 = false;

        var player;
        window.onYouTubeIframeAPIReady = function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: "<%=videoId%>",
                playerVars: {
                    'playsinline': 1
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': (event) => {
                        if (is_coming_time) {
                            is_coming_time = false;

                            return;
                        }
                        if (event.data == YT.PlayerState.PLAYING || event.data == YT.PlayerState.UNSTARTED || event.data == YT.PlayerState.BUFFERING) {
                            socket.emit('statusChanged', 1, myRoomId)
                            /*if(bool_flag_1)
                                socket.emit('getTime', myRoomId, userId)*/
                        }
                        else if (event.data == YT.PlayerState.ENDED) {
                            socket.emit('videoended');
                        }
                        else {
                            socket.emit('statusChanged', 0, myRoomId);
                        }
                        if (Math.abs(lastTime - player.getCurrentTime()) > 2) {
                            let time = player.getCurrentTime();
                            socket.emit('clientSeek', time);
                            lastTime = time;
                        }
                    }
                }
            });
        }

        var is_coming_time = false;
        socket.on('comingTime', (uid, time) => {
            if (uid != userId) return;
            is_coming_time = true;
            player.seekTo(time, true);
        })

        socket.on('handleStatus', (status) => {
            if (status == 0) {
                player.pauseVideo();
            }
            else if (status == 1) {
                player.playVideo();
            }
        })



        var lastTime = 0;
        function onPlayerReady(event) {
            setTimeout(() => event.target.playVideo(), 100);
            setInterval(() => {
                if (player.getPlayerState() == 2) return;
                let time = player.getCurrentTime();
                socket.emit("currentTime", time, currentVideoId, myRoomId)
                bool_flag_1 = true;
                lastTime = time;
            }, 250)
            socket.emit('init', myRoomId);
        }

        let playlistTbody = document.getElementById('playlist');

        // Set the playlist
        var playlistData_client = [];
        socket.on('seek', (time, status, vidId, text, playlistTxt, playlistData) => {
            //player.loadVideoById(vidId, time);
            window.history.pushState("", "", vidId);
            player.seekTo(time);
            if (status == 0) {
                player.pauseVideo();
            }
            else if (status == 1) {
                player.playVideo();
            }
            currentVideoId = vidId;
            //document.getElementById('chat').innerHTML += text == null ? "" : text;
            document.getElementById('chat').innerHTML = text;
            chat_message("System", `${userId} has joined the room!`)
            socket.emit("message", document.getElementById('chat').innerHTML)
            scrollToBottom("chat");

            playlistTbody.innerHTML = playlistTxt;
            playlistData_client = playlistData;
            //console.log(playlistData_client)
        })

        socket.on('clientVideoChange', (link, time) => {
            player.loadVideoById(link);
            window.history.pushState("", "", link);
        })

        socket.on('timeChanged', (time) => {
            player.seekTo(time);
        })

        socket.on('videoend', (link, pl) => {
            playlistData_client.shift();
            //console.log("satır 351"); console.log(pl);
            //playlist = pl;
            //console.log(link)
            link = link.substring(link.lastIndexOf("=") + 1, link.length)
            currentVideoId = link;
            player.loadVideoById(link);
            let playlistElem = document.getElementById('playlist');
            playlistElem.removeChild(playlistElem.getElementsByTagName('tr')[0]);
            socket.emit("playlisthtmldata", playlistElem.innerHTML);
            window.history.pushState("", "", link);
        })


        let createRandomColor = () => {
            let R;
            let G;
            let B;
            do{
                R = (Math.random()*255) | 0;
                G = (Math.random()*255) | 0;
                B = (Math.random()*255) | 0;
            }while(R+G+B > 500)
            let obj = {red:R, green:G, blue:B};
            return obj;
        };

        var userChatColor = createRandomColor();

        let chat_message = (userId, message) => {
            let obj = {red:userChatColor.red, green:userChatColor.green, blue:userChatColor.blue } // Deep copy
            if(userId == "System"){
                obj.red = 0;
                obj.green = 0;
                obj.blue = 255;
            }
            document.getElementById('chat').innerHTML += '<span class="chatmessage">' + new Date().toTimeString().slice(0, 8) + ` <span class="chatuser" style='color:rgb(${obj.red}, ${obj.green}, ${obj.blue})';>${userId}: </span>${message}` + "</span><br>";
        };

        socket.on('newmessage', (text) => {
            document.getElementById('chat').innerHTML = text;
            scrollToBottom("chat");
        })

        let getVideoName = async (link) => {
            let ans = "";
            await fetch(`https://www.youtube.com/oembed?url=${link}&format=json`)
                .then(response => response.json())
                .then(data => ans = data.title);
            return ans;
        }

        let addTr = (elem, no, link) => {
            elem.innerHTML += `<tr>
                            <td>${no}</td>
                            <td>${link}</td>
                            
                        </tr>`;
        };
        let queueBtn = document.getElementById('submitqueue');
        queueBtn.onclick = async () => {
            let link = document.getElementById("link").value;
            playlistData_client.push(link);
            let videoName = await getVideoName(link);
            //console.log("code:370" + videoName)
            addTr(playlistTbody, "->", videoName)
            socket.emit('queue', playlistTbody.innerHTML, playlistData_client, link);
        };

        socket.on('queued', (playlistcome, PLAYLIST) => {
            playlistData_client = PLAYLIST;
            //playlist = PLAYLIST;
            //console.log(playlist)
            //let videoName = await getVideoName(playlist[playlist.length-1]);
            playlistTbody.innerHTML = playlistcome;
            //addTr(playlistTbody, playlist.length, videoName)
        })

        // Set the chat
        let chatSubmit = document.getElementById('chatsubmit');

        let chatSubmitFunc = () => {
            let messageTxt = document.getElementById('message').value;
            if (messageTxt.length == 0) return;
            chat_message(userId, messageTxt); scrollToBottom("chat");
            socket.emit("message", document.getElementById('chat').innerHTML)
            messageTxt = document.getElementById('message').value = "";
        };

        chatSubmit.onclick = () => {
            chatSubmitFunc();
        }

        document.addEventListener('keyup', (e) => {
            let messageTxt = document.getElementById('message')
            if (e.keyCode == 13 && document.activeElement == messageTxt) {
                chatSubmitFunc();
            }
        });

        // Set the new Video
        submit.onclick = () => {
            let link = document.getElementById("link").value;
            let submit = document.getElementById("submit");
            link = link.substring(link.lastIndexOf("=") + 1, link.length)
            currentVideoId = link;
            socket.emit('videoChange', link, myRoomId);
            player.loadVideoById(link);
            window.history.pushState("", "", link);
        }


        function firstFunctionEver(peopleLi) {
            var element = document.querySelector("#peoplelist");
            if (peopleLi.style.opacity == 0) {
                //console.log("if");
                //element.style.visibility = 'visible';
                element.style.opacity = '1';
                peopleLi.style.backgroundColor = "#293009"
                element.style.margin = "0px 0px 0px 180px"
                element.style.height = "410px"
                element.style.borderRadius = "75px"
                element.style.zIndex = "121212121";
            }
            else {
                //console.log("else");
                //element.style.visibility = "hidden";

                element.style.opacity = '0';
                element.padding = '0';
                peopleLi.style.backgroundColor = "green"
                element.style.margin = "0px 0px -410px 180px "
                element.style.height = "0px"
                element.style.borderRadius = "-40px"
                element.style.zIndex = "-1"
                //setTimeout(()=>{element.style.zIndex = "-1"}, 2000)
            }
        }

        let roomPeople = [];
        let peopleBtn = document.getElementById("people");
        peopleBtn.onclick = () => {
            socket.emit('people');
            let showPFunc = () => {
                let peopleStr = "";
                for (let i = 0; i < roomPeople.length; i++)
                    peopleStr += roomPeople[i] + "<br>";
                let peopleLi = document.getElementById('peoplelist');
                peopleLi.innerHTML = peopleStr;
                firstFunctionEver(peopleLi);
                /*peopleLi.style.opacity = peopleLi.style.opacity == 0 ? 1 : 0;
                peopleLi.style.display = peopleLi.style.display == "block" ? "none" : "block";
                peopleLi.style.visibility = peopleLi.style.visibility == "visible" ? "hidden" : "visible";
                peopleLi.style.backgroundColor = "yellow"*/
            }
            setTimeout(showPFunc, 500);
        };
        socket.on("showpeople", (users) => {
            roomPeople = users;
        });


    </script>


</body>

</html>