<!DOCTYPE html>

<head>
    <title>Room: <%=roomId%>
    </title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<html>

<body>
    <input id="link" type="text">
    <input id="submit" type="submit">

    <div id="videoContainer">
        <div id="player"></div>
    </div>

    <script>
        var myRoomId = '<%=roomId%>';
        const socket = io.connect(`${'<%=URL%>'}/room/${myRoomId}`,{auth:{roomId:myRoomId}}); // Our server.js portnumber
        let currentVideoId = "<%=videoId%>"
        

        /*socket.on('connect', ()=>{
            console.log('connected!');

        })
        socket.on('message', (msg) => {
            console.log(msg)
        })*/

        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: "<%=videoId%>",
                playerVars: {
                    'playsinline': 1
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': (event) => {
                        if (event.data == YT.PlayerState.PLAYING || event.data == YT.PlayerState.UNSTARTED ||  event.data == YT.PlayerState.BUFFERING) {
                            socket.emit('statusChanged', 1)
                        }
                        else {
                            socket.emit('statusChanged', 0);
                        }
                    }
                }
            });
        }

        socket.on('handleStatus', (status) => {
            if (status == 0) {
                player.pauseVideo();
            }
            else if (status == 1) {
                player.playVideo();
            }
        })




        function onPlayerReady(event) {
            setTimeout(() => event.target.playVideo(), 100 );
            setInterval(() => {
                socket.emit("currentTime", player.getCurrentTime(), currentVideoId, myRoomId)
            }, 250)
            socket.emit('init', myRoomId);
        }


        socket.on('seek', (time, status, vidId) => {
            //player.loadVideoById(vidId, time);
            window.history.pushState("", "", vidId);
            player.seekTo(time);
            if (status == 0) {
                player.pauseVideo();
            }
            else if (status == 1) {
                player.playVideo();
            }
            currentVideoId = vidId;
        })

        socket.on('clientVideoChange', (link, time) => {
            player.loadVideoById(link);
            window.history.pushState("", "", link);
        })



        submit.onclick = () => {
            let link = document.getElementById("link").value;
            let submit = document.getElementById("submit");
            link = link.substring(link.lastIndexOf("=") + 1, link.length)
            currentVideoId = link;
            socket.emit('videoChange', link, myRoomId);
            player.loadVideoById(link);
            window.history.pushState("", "", link);
        }

    </script>
</body>

</html>
